xsd/cod.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Document">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Ext"/>
                <xs:element ref="Properties"/>
                <xs:element ref="BaseVersion"/>
                <xs:element ref="VersionNumber"/>
                <xs:element ref="Modified"/>
            </xs:sequence>
            <xs:attribute name="version" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="BaseVersion">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="VersionNumber"/>
                <xs:element ref="Modified"/>
                <xs:element ref="Ext"/>
                <xs:element ref="Properties"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Ext" type="xs:string"/>
    <xs:element name="Properties">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="isExpanded"/>
                <xs:element ref="isGroup"/>
                <xs:element ref="title"/>
                <xs:element ref="password"/>
                <xs:element ref="markColor"/>
                <xs:element ref="note"/>
                <xs:element ref="context"/>
                <xs:element ref="fontSize"/>
                <xs:element ref="defaultFontStyle"/>
                <xs:element ref="defaultColor"/>
                <xs:element ref="numerationStyle"/>
                <xs:element ref="lastModificationTime"/>
                <xs:element ref="showCheckBox"/>
                <xs:element ref="hideCheckedEnements"/>
                <xs:element ref="hideUncheckedEnements"/>
                <xs:element ref="resizebleLineForTextSize"/>
                <xs:element ref="showNotesOnlyForSelectedRow"/>
                <xs:element ref="readOnly"/>
                <xs:element ref="ID"/>
                <xs:element ref="ChildItems"/>
            </xs:sequence>
            <xs:attribute name="className" type="xs:NCName" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="password">
        <xs:complexType mixed="true">
            <xs:attribute name="className" type="xs:NCName" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="markColor">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:integer">
                    <xs:attribute name="className" type="xs:NCName" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="note">
        <xs:complexType mixed="true">
            <xs:attribute name="className" type="xs:NCName" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="context">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="isExpanded"/>
                <xs:element ref="isGroup"/>
                <xs:element ref="title"/>
                <xs:element ref="completionState"/>
                <xs:element ref="color"/>
                <xs:element ref="fontStyle"/>
                <xs:element ref="ID"/>
                <xs:element ref="ChildItems"/>
                <xs:element maxOccurs="unbounded" ref="ChildItem"/>
            </xs:sequence>
            <xs:attribute name="className" type="xs:NCName" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="fontSize">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:integer">
                    <xs:attribute name="className" type="xs:NCName" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="defaultFontStyle">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:integer">
                    <xs:attribute name="className" type="xs:NCName" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="defaultColor">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:integer">
                    <xs:attribute name="className" type="xs:NCName" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="numerationStyle">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:integer">
                    <xs:attribute name="className" type="xs:NCName" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="lastModificationTime">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:float">
                    <xs:attribute name="className" type="xs:NCName" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="showCheckBox">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:integer">
                    <xs:attribute name="className" type="xs:NCName" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="hideCheckedEnements">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:integer">
                    <xs:attribute name="className" type="xs:NCName" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="hideUncheckedEnements">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:integer">
                    <xs:attribute name="className" type="xs:NCName" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="resizebleLineForTextSize">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:integer">
                    <xs:attribute name="className" type="xs:NCName" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="showNotesOnlyForSelectedRow">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:integer">
                    <xs:attribute name="className" type="xs:NCName" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="readOnly">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:integer">
                    <xs:attribute name="className" type="xs:NCName" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="VersionNumber" type="xs:integer"/>
    <xs:element name="Modified" type="xs:integer"/>
    <xs:element name="isExpanded">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:integer">
                    <xs:attribute name="className" type="xs:NCName" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="isGroup">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:integer">
                    <xs:attribute name="className" type="xs:NCName" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="title">
        <xs:complexType mixed="true">
            <xs:attribute name="className" type="xs:NCName" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="completionState">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:integer">
                    <xs:attribute name="className" type="xs:NCName" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="color">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:integer">
                    <xs:attribute name="className" type="xs:NCName" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="fontStyle">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:integer">
                    <xs:attribute name="className" type="xs:NCName" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="ID" type="xs:string"/>
    <xs:element name="ChildItems">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="ID"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ChildItem">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
                <xs:element ref="ChildItem"/>
                <xs:element ref="ChildItems"/>
                <xs:element ref="ID"/>
                <xs:element ref="color"/>
                <xs:element ref="completionState"/>
                <xs:element ref="fontStyle"/>
                <xs:element ref="isExpanded"/>
                <xs:element ref="isGroup"/>
                <xs:element ref="title"/>
                <xs:element ref="notes"/>
            </xs:choice>
            <xs:attribute name="className" type="xs:NCName" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="notes">
        <xs:complexType mixed="true">
            <xs:attribute name="className" type="xs:NCName" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
